extends emailBase 


block content 
    p Hi #{firstName},
    p We are sorry you ran into this problem 🙏
    p If you really forgot you password click on the green button down.
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
        tbody
            tr
                td(align='left')
                    table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                        tbody
                            tr
                                td
                                    a(href=`${url}`, target='_blank') Reset Password 
    p If you need any help , please don't hesitate to contact me! And i am not gonna answer :).
    p - Mustafa Elsharawy, CEO